<!DOCTYPE html>
<html>
<title>Airline-delay-Prediction App</title>
<body>

<form action = "/getdelay" method="POST">
<p> Select Origin:<input name="origin" type ="text" value="JFK" /> </p>
<p> Select Destination: <input name="dest" type ="text" value="LAX" /> </p>
<p> Select Airline :   
<select name="unique_carrier">
<option value="AA">American Airlines </option>
<option value="DL">Delta Air Lines </option>
<option value="B6">JetBlue Airways</option>
<option value="WN">Southwest Airlines </option>
<option value="UA" selected>United Air Lines </option>
</select>
<p> Select Day of Week:<input name="day_of_week" type ="text" value="1" /> </p>
<p> Select Departure Hour: <input name="dep_hour" type ="text" value="10" /> </p>
<p> <input type ="submit" value="submit" /> </p>
</form>
</body>
</html>
